{% extends 'base.html' %}

{% block title %}Resultado de Operaciones con Matrices{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Operaciones con Matrices</title>
</head>
<body>
    <h1>Resultado de Operaciones con Matrices</h1>

    <h2>Matriz A</h2>
    <p>{{ matriz_a }}</p>

    <h2>Matriz B</h2>
    <p>{{ matriz_b }}</p>

    <h2>Suma de Matrices</h2>
    <p>{{ suma_matrices }}</p>

    <h2>Resta de Matrices</h2>
    <p>{{ resta_matrices }}</p>

    <h2>Multiplicación de Matrices</h2>
    <p>{{ multiplicacion_matrices }}</p>
</body>
</html>
{% endblock %}